body {
    font-family: 'Roboto Slab';  
    background-image: linear-gradient(to bottom left, rgba(248, 200, 107, 0.3), rgba(243, 112, 66, 0.3), rgba(239, 49, 132, 0.3), rgba(150, 64, 226, 0.3));
}

h1 {
    color: #9440e4; 
}

.html-elements {
    color: #ef3086;
    text-align: center;
    font-size: 35px; 
}

.html-tables {
    color: #f47440;
    font-size: 35px; 
    text-align: center; 
}


#html-headings {
    text-align: center; 
    color: white;
    background-color: #ef3086;
}

.html-even {
    background-color: rgba(190, 160, 225, 0.5);
}

.html-odd {
    background-color: rgba(255, 255, 255, 0.5); 
}

.html-tags {
    border: 1px solid #d5005b;
    
}

#table-headings {
    color: white; 
    background-color: rgb(244, 116, 64);
}

.table-odd {
    background-color: rgba(242, 183, 158, 0.8);
}

.table-even {
    background-color: rgba(255, 255, 255, 0.5);
}

.tables {
    margin-bottom: 200px; 
   border: 1px solid #f8c86b; 
}

footer {
    font-size: 10px; 
}